/HW1.X/build/default/
/HW1.X/dist/default/
/HW 4.X/nbproject/private/
/HW 4.X/build/default/
/HW 4.X/dist/default/
/HW4.X/nbproject/private/
/HW4.X/build/default/
/HW4.X/dist/default/
/hw4ex.X/nbproject/private/
/hw4ex.X/build/default/
/hw4ex.X/dist/default/
/AlexeyRevinski_ME433_2016-master/HW1/HW1.X/build/default/
/AlexeyRevinski_ME433_2016-master/HW1/HW1.X/dist/default/
/AlexeyRevinski_ME433_2016-master/HW4_A/build/default/
/AlexeyRevinski_ME433_2016-master/HW4_A/dist/default/
/AlexeyRevinski_ME433_2016-master/HW6.X/build/default/
/AlexeyRevinski_ME433_2016-master/HW6.X/dist/default/
/AlexeyRevinski_ME433_2016-master/HW1/HW1.X/nbproject/private/
/AlexeyRevinski_ME433_2016-master/HW4_A/nbproject/private/
/AlexeyRevinski_ME433_2016-master/HW6.X/nbproject/private/
/AlexeyRevinski_ME433_2016-master/HW4/build/default/
/AlexeyRevinski_ME433_2016-master/HW4/dist/default/
/AlexeyRevinski_ME433_2016-master/HW4/nbproject/private/
/ME433-master 2/HW4as/hw4.X/nbproject/private/
/ME433-master 2/HW4as/hw4.X/build/default/
/Hw4_experimental.X/nbproject/private/
/Hw4_experimental.X/build/default/
/Hw4_experimental.X/dist/default/
/HW4_SPI/nbproject/private/
/HW4_SPI/dist/default/
/HW4_SPI/build/default/